/*common*/

body {
  min-width: 1200px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;

}
h1 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}
h2 {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
}
.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0 10px;
}

.page-header {
  background-color: #ffffff;
}

.main-nav {
  width: 100%;
}

.main-nav-list{
  width: 480px;
  padding: 0px;
  margin: 0px;
  list-style: none;
    font-size: 0;

}

.main-nav-list .main-nav-item {
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  vertical-align: top;
  width: 240px;
  text-align: center;

}

.main-nav-list .main-nav-item a {
  display: block;
  padding-top: 15px;
  padding-bottom:15px;
  text-decoration: none;
  color: #333333;
  font-weight: 700;
}

.main-nav-list .main-nav-item a:hover {
  color:#81b3d2;
}

.main-nav-list .main-nav-item a:active {
  color:#766357;
}

.main-nav-left{
  float: left;
}

.main-nav-right{
  float: right;
}

.header-logo{
  width: 140px;
  height: 56px;
  float: left;

}

.header-logo img{
 width:100%;
 height:auto;
 margin-top: 0;
 margin-bottom:0;
 margin-left: 50%;
 margin-right: 50%;
 }



.footer{
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer-item {

    float: left;
}

.footer-hashtag{
  width: 141px;
  margin-left: 130px;
  margin-right: 129px;
}


.footer-social-buttons{
width: 150px;
margin-left: 125px;
margin-right: 125px;
}

.footer-copyright{
width: 200px;
margin-left: 100px;
margin-right: 100px;
}

.left-col{
  float: left;
}

.right-col{
  float: right;
}

/*index.html*/
.header-intro {
  width:100%;
  height: 567px;
  background: url("../img/header_bg.jpg") no-repeat;
}

.promo {
  width: 500px;
  padding-left: 350px;
  padding-right: 350px;
  padding-top: 56px;
  margin-bottom: 58px;

}

.promo-header {
  margin: 0px;
  text-align: center;
}

.promo-text {
  margin: 0px;
  text-align: center;
}

.feature-item {
  text-align: center;
  width: 275px;
  padding-right: 63px;
  padding-left: 62px;
  padding-top: 57px;
  padding-bottom: 58px;
  float: left;
}

.item-blue {

}

.feature-image {
  float: left;
  min-height: 255px;
}

.item-white {

}

.item-grey{

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.hotel-search {
  padding-left: 300px;
  padding-right: 300px;
  text-align:center;
}

.hotel-search-description {
  padding-bottom: 50px;
}

.hotel-search-btn {
 display:inline-block; /*уточнить*/
 padding-top: 23px;
 padding-bottom: 22px;
 padding-left: 133px;
 padding-right: 133px;
 background-color: red;
}

.map {
  width: 100%;
  height: 480px;
  background-color: grey;
}

.modal {
  width: 570px;
}

.modal label {
  width: 100px;
  text-align: justify;
}

.search-form-group {
  width: 460px;
}

.adults-count-field {
  width: 230px;
  float: left;
}

.child-count-field {
  width: 230px;
  float: right;
}

/*catalog.html*/

.filter-item-infrastructure {
width: 300px;
float: left;
}

.filter-item-house-type {
  width: 300px;
  float: left;
}

.hotel-filter {
  background: url("../img/filter-bg.jpg") repeat;
}
.sorting-field li{
  display: inline-block;
}

.filter-result-number {
  float: left;
  width: 115px;
}

.filter-result-item {
  padding-top: 29px;
  padding-bottom: 29px;
}

.filter-result-img {
  display: block;
  width: 100%;
  height: auto;
}

.hotel-item {
  width: 260px;
}

.result-right-column {
  width: 120px;
}

.result-left-column {
  width: 500px;
  float: left;
}
