/*common*/

body {
    min-width: 1200px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000;
}

h2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
    color: #000;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow:  0px 6px 18px rgba(0,1,1,0.3);
    box-shadow:  0px 6px 18px rgba(0,1,1,0.3);
}

.page-header {
    background-color: #fff;
}

.main-nav {
    width: 100%;
}

.main-nav-list {
    font-size: 0;
    list-style: none;
    /*width: 480px;*/
    margin: 0;
    padding: 0;
}

.main-nav-list .main-nav-item {
    display: inline-block;
    width: 235px;
    padding-right: 7px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    vertical-align: top;
}

.main-nav-item a {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

.main-nav-item a:nth-child(1) {}

.main-nav-item a:hover {
    color: #81b3d2;
}

.main-nav-item a:active {
    color: #766357;
}

.main-nav-item .active {
    color: #88786d;
}

.main-nav-item .active:hover {
    color: #604e43;
}

.main-nav-item .active:active {
    color: #000;
    opacity: 0.3;
}

.main-nav-left {
    float: left;
}

.main-nav-right {
    float: right;
}
.main-nav-right .main-nav-item {}

.main-nav-left:last-child {

}
.main-nav-right:last-child {

}
.main-nav-left:first-child {

}

.header-logo {
    float: left;
    margin-top: 0;
    margin-left: 45px;
    width: 140px;
    height: 56px;
}

.header-logo img {
    width: 100%;
    height: auto;
}

.footer-area {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 27px;
    background-color: #ffffff;
}

.footer-item {
    float: left;
}

.footer-hashtag {
    margin-right: 129px;
    margin-left: 130px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000;
}


.footer-social-buttons {
    margin-right: 125px;
    margin-left: 125px;
    text-align: center;
}

.social-btn {
    display: inline-block;
    width: 45px;
    height: 48px;
    margin: 0 2px;
    margin-top: 9px;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    background: #81b3d2 url("../img/sprite.png") no-repeat center;
}

.social-btn:hover {
    background-color: #669ec0;
}

.social-btn:active {
    background-color: #5496bd;
}

.social-btn-twt {
    background-position: -815px 6px;
}

.social-btn-fb {
    background-position: -476px 4px;
}

.social-btn-yt {
    background-position: -855px 6px;
}

.footer-copyright {
    display: inline-block;
    width: 200px;
    height: 35px;
    margin-top: 6px;
    margin-right: 93px;
    margin-left: 100px;
    vertical-align: middle;
}

.copyright-text {
    position: relative;
    margin-right: 114px;
    vertical-align: middle;
    font-size: 14px;
    color: #000;
}

.copyright-link{
    padding-left: 5px;
}

.copyright-link::after{
    content: "";
    position: absolute;
    width: 113px;
    height: 39px;
    background-image: url("../img/htmlacademy.png");
    background-repeat: no-repeat;
}

.copyright-link:hover::after{
    background-image: url("../img/htmlacademy-hvr.png");
}

.copyright-link:hover::active{
    background-image: url("../img/htmlacademy-down.png");
}

.left-col {
    float: left;
}

.right-col {
    float: right;
}

/*index.html*/
.header-intro {
    width: 100%;
    height: 511px;
    background: #81b3d2 url("../img/header_bg.jpg") no-repeat;
}

.promo {
    width: 500px;
    padding-top: 58px;
    padding-right: 350px;
    padding-left: 350px;
    background-color: white;
}

.promo-header {
    margin: 0;
    padding-bottom: 27px;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
}

.promo-text {
    margin: 0;
    margin-bottom: 51px;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: #333;
}

.feature-item {
    float: left;
    width: 275px;
    padding-top: 55px;
    padding-right: 63px;
    padding-left: 62px;
    text-align: center;
}

.feature-item-name {
    display: block;
    position: relative;
    width: 160px;
    margin: 0;
    margin-bottom: 23px;
    padding-right: 57px;
    padding-left: 57px;
    font-size: 21px;
    line-height: 21px;
    color: #000;
}

.feature-number {
    display: block;
    margin-bottom: 21px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.feature-item-description {
    width: 277px;
    margin: 0;
    padding-bottom: 51px;
    font-size: 14px;
    line-height: 21px;
    color: white;
}

.feature-image {
    float: left;
    width: 800px;
    height: 255px;
    overflow: hidden;
}



.item-blue {
    padding-left: 48px;
    padding-right: 77px;
    background-color: #81b3d2;
}

.item-blue .feature-item-description {
    width: 309px;
}

.item-blue .feature-item-name {
    width: 164px;
    padding-left: 72px;
    color: #fff;

}

.item-white {
    padding-top: 163px;
    padding-bottom: 31px;
    padding-left: 57px;
    padding-right: 68px;
    background-color: #fff;
}

.house-item::before{
    content: "";
    position: absolute;
    width: 72px;
    height: 75px;
    left: 105px;
    bottom: 47px;
    background: url("../img/house-icon.png") no-repeat;
}

.food-item::before {
    content: "";
    position: absolute;
    width: 72px;
    height: 75px;
    left: 105px;
    bottom: 47px;
    background: url("../img/food-icon.png") no-repeat;
}

.souvenirs-item::before {
    content: "";
    position: absolute;
    width: 72px;
    height: 75px;
    left: 110px;
    bottom: 52px;
    background: url("../img/souvenir-icon.png") no-repeat;
}
.item-white .feature-item-name {
    padding-left: 64px;
}

.item-white .feature-item-description,
.item-grey .feature-item-description {
    width: 285px;
    font-size: 14px;
    line-height: 21px;
    color: #333;
}

.item-grey {
    padding-top: 48px;
    padding-bottom: 10px;
    padding-right: 63px;
    background-color: #eee;
}

.item-grey .feature-item {}

.item-grey .feature-item-description {
    width: 275px;
    letter-spacing: 0.3px;
    padding-left: 0px;

}

.item-grey .feature-number {
    color: #333;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

.hotel-search {
    padding-top: 56px;
    padding-right: 300px;
    padding-left: 300px;
    text-align: center;
    background-color: #fff;
}

.hotel-search-header {
    display: block;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 24px;
    color: #000;
}

.hotel-search-description {
    margin: 0;
    padding-bottom: 47px;
    font-size: 14px;
    line-height: 24px;
    color: #333;
}

.hotel-search-btn {
    display: inline-block;
    padding-top: 30px;
    padding-right: 140px;
    padding-bottom: 29px;
    padding-left: 140px;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    vertical-align: top;
    color: #fff;
    background-color: #766357;
}

.hotel-search-btn:hover {
    background-color: #604e43;
}

.map {
    width: 1200px;
    height: 593px;
}

.footer-mainpage {
    position: absolute;
    bottom:0;
    background-color: rgba(255,255,255,.9);
}

/*popup form*/
.modal {
    position: absolute;
    top: 2170px;
    left: 50%;
    display: none;
    width: 570px;
    width: 458px;
    margin-left: -285px;
    padding: 56px 55px 56px 56px;
    font-weight: 700;
    line-height: 26px;
    background-color: #fff;
}

.modal input {
    width: 306px;
    margin-left: 17px;
    padding-top: 3px;
    padding-right: 26px;
    padding-bottom: 3px;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    border: 2px solid #fff;
    background-color: #f2f2f2;
}

.modal input:hover {
    background-color: #ebebeb;
}

.modal input:focus {
    border: 2px solid #e5e5e5;
    background-color: #fff;
}

.modal label {
    padding-top: 5px;
    padding-left: 1px
    text-align: justify;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0.3px;
}


.right-col::-webkit-input-placeholder {
    color: #000000;
    opacity: 1;
}

.right-col::-moz-placeholder {
    color: #000000;
    opacity: 1;
}

.right-col:-ms-input-placeholder {
    color: #000000;
    opacity: 1;
}

.right-col::placeholder {
    color: #000000;
    opacity: 1;
}

.modal-content-show {
    display: block;
    -webkit-animation: view 1s;
    animation: view 1s;
}

.search-form-group {
    position: relative;
}

.calendar {
    position: absolute;
    display: block;
    width: 22px;
    font-size: 0;
    background: url("../img/sprite.png") no-repeat center;
    background-position: -372px -10px;
}

.calendar:hover {
    background-position: -454px -10px;
}

.calendar:active {
    background-position: -413px -10px;
}

.arrival-date-field,
.departure-date-field,
.adults-count-field
{
    position: relative;
    display: block;
    margin-bottom: 31px;
}

.child-count-field {
    position: relative;
    display: block;
    margin-bottom: 57px;
}

.arrival-date-field .calendar {
    top: 8px;
    left: 426px;
    border: none;
}

.departure-date-field .calendar {
    top: 8px;
    left: 426px;
    border: none;
}

.adults-count-field input,
.child-count-field input {
    width: 37px;
    padding-top: 3px;
    padding-right: 39px;
    padding-bottom: 3px;
    padding-left: 37px;
    text-align: center;
}

.button-qty {
    position: absolute;
    display: block;
    width: 12px;
    font-size: 0;
    border: none;
    background: url("../img/sprite.png") no-repeat center;

}

.btn-plus {
    top: 7px;
    left: 201px;
    background-position: -620px -3px;
}

.btn-plus:hover {
    background-position: -682px -3px;
}

.btn-plus:active {
    background-position: -651px -3px;
}

.btn-minus {
    top: 6px;
    left: 121px;
    background-position: -525px 2px;
}

.btn-minus:hover {
    background-position: -589px 2px;
}

.btn-minus:active {
    background-position: -557px 2px;
}

.search-form-group {
    width: 460px;
}

.adults-count-field {
    float: left;
    width: 230px;
}

.child-count-field {
    float: right;
    width: 230px;
}

.child-count-field label {
    margin-left: 47px;
}

.modal .search-button {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding-top: 15px;
    padding-right: 193px;
    padding-bottom: 15px;
    padding-left: 193px;
    font-size: 21px;
    line-height: 26px;
    vertical-align: top;
    color: #fff;
    border: none;
    background-color: #81b3d2;
}

.modal .search-button:hover {
    border: none;
    background-color: #669ec0;
}

.modal .search-button:active {
    color: #88b6d1;
    border: none;
    background-color: #5496bd;
}

/*animation popup search form*/
@-webkit-keyframes view {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes view {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

/*catalog.html*/
.filter-item {
    float: left;
    width: 257px;
    padding-top: 12px;
    padding-bottom: 6px;
}

.type-house {

}

.type-house .hotel-filter-block-title{
    padding-left: 67px;
}

.filter-item label {
    text-align: left;
    line-height: 21px;
    color: #fff;
}

.hotel-filter-block-title {
    padding-left: 70px;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: #fff;
}

.filter-item-house-type {
    float: left;
    width: 300px;
}

.hotel-filter {
    background: url("../img/filter-bg.jpg");
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    display: block;
    margin: 25px 0;
    padding-left: 109px;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    position: absolute;
    top: 0px;
    left: 70px;
    width: 22px;
    height: 22px;
    content: "";
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -196px -10px;
}

input[type="checkbox"]:checked + label::after {
    position: absolute;
    top: 0px;
    left: 70px;
    width: 26px;
    height: 22px;
    content: "";
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -238px -10px;
}

input[type="checkbox"]:disabled + label::after {
    position: absolute;
    top: 0px;
    left: 70px;
    width: 26px;
    height: 22px;
    content: "";
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -330px -10px;
}

input[type="checkbox"]:checked:disabled + label::after {
    position: absolute;
    top: 0px;
    left: 70px;
    width: 26px;
    height: 22px;
    content: "";
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -284px -10px;
}


.filter-result {
    display: block;
}

.filter-result-header {
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}

.filter-result-number {
    float: left;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

/*filter-range-header*/
.price-per-day {
    padding-top: 12px;
    padding-bottom: 10px;
}

.filter-range {
    display: block;
    width: 318px;
    margin: 0px auto;
    padding-right: 74px;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;
    margin-left: -9px;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 33px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.price-controls::after {
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    vertical-align: bottom;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 112px;
    padding-left: 35px;
    padding-top: 6px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    padding-left: 5px;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

.range-controls {
    position: relative;
    margin-bottom: 33px;
}

.range-controls .scale {
    height: 2px;
    margin-top: 25px;
    background: rgba(255, 255, 255, 0.3);

}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top:-9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0px;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    margin-left: 84px;
    padding: 6px 34px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

.filter-result-sorting {
    margin: 0;
    padding: 0;
}

.filter-result-sorting li {
    display: inline-block;
    padding-top: 31px;
    padding-right: 28px;
    vertical-align: top;
}

.filter-result-sorting-title {
    margin: 0;
    margin-left: 48px;
    padding-top: 36px;
    padding-right: 41px;
    padding-bottom: 34px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.sorting-item {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}


.sorting-item:hover {
    color: #81b3d2;
    opacity: 1;
}

.sorting-item:active {
    color: #000;
    border: none;
    opacity: 1;
}

.filter-result-sorting .active {
    position: relative;
    color: #81b3d2;
    border: none;
    opacity: 1;
}

.sorting-arrows-field {
    margin: 0;
    padding-right: 70px;
}

.sorting-arrow {
    display: block;
    width: 11px;
    height: 10px;
    margin-top: 38px;
    padding-right: 4px;
    font-size: 0;
    background: url("../img/sprite.png") no-repeat center;
}

.sorting-arrows-field li {
    margin: 0;
    padding: 0;
}

.arrow-up {
    top: 5px;
    left: 5px;
    padding-right: 9px;
    background-position: -134px -10px;
}

.arrow-up:hover {
    background-position: -165px -10px;
}

.arrow-up:active {
    background-position: -103px -10px;
}

.sorting-arrows-field .active {
    background-position: -41px -10px;
}

.arrow-down {
    background-position: -41px -10px;
}

.arrow-down:hover {
    background-position: -41px -10px;
}

.filter-result-item {
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}

.result-left-column {
    position: relative;
    float: left;
    padding-top: 26px;
    padding-bottom: 33px;
    padding-left: 70px;
}

.filter-result-img {
    width: 135px;
    height: 90px;
}

.filter-result-img img {
    width: 100%;
    height: auto;
    display: block;
    padding-top: 2px;
}

.filter-result-item .hotel-item {
    display: block;
    padding-left: 31px;
    text-align: left;
    color: #333;
}

.hotel-item-name {
    margin-top: -3px;
    margin-bottom: 7px;
}

.hotel-item-name a {
    font-size: 21px;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
}

.hotel-item-name a:hover {
    color: #81b3d2;
}

.hotel-item-name a:active {
    color: #c1c1c1;
}

.hotel-item-type,
.hotel-item-price {
    display: block;
    padding-bottom: 14px;
    line-height: 21px;
}

.hotel-item-col2 {
    margin-left: 5px;
}

.btn {
    display: inline-block;
    margin: 0;
    padding: 2px 17px;
    text-decoration: none;
    line-height: 21px;
    font-size: 14px;
    font-weight: 700;
    vertical-align: bottom;
    color: #fff;
}

.btn-blue {
    background-color: #81b3d2;
}

.btn-blue:hover {
    background-color: #669ec0;
}

.btn-blue:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.btn-brown {
    background-color: #766357;
}

.btn-brown:hover {
    background-color: #604e43;
}

.btn-brown:active {
    color: #81746d;
    background-color: #503e33;
}

.result-right-column {
    float: right;
    width: 220px;
    padding-top: 26px;
    padding-right: 75px;
}

.rating-stars-icons li {
    display: inline-block;
    margin: 0px;
    margin-left: 1px;
    vertical-align: top;
    list-style: none;
}

.rating-stars-icons {
    margin-top: 0px;
    padding: 0;
    text-align: right;
}

.star-icon {
    display: block;
    width: 18px;
    height: 17px;
    font-size: 0;
    background: url("../img/sprite.png") no-repeat center;
    background-position: -794px -10px;
}

.rating-value {
    display: block;
    float: right;
    margin-top: 24px;
    padding-left: 16px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 3px;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #666;
    background-color: #f2f2f2;
}
